# Baseline
CherryPy>=3.8.0
CherryPy-SQLAlchemy>=0.5.2
Mako>=1.0.1
pika<2
pika-stubs<1
python-dateutil>=1.5
pytz
SQLAlchemy>=1.0.4,<1.1
tweepy
dropbox
#logging
netifaces
python-gsmmodem
slacker
pyping

# IsarEngineering
ffmpy<1
pycall<3
paho-mqtt<2
pymodbus<3
func-timeout<5
