body {
	font-family: sans-serif;
}

#nav {
	background-color: #abcdef;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 55px;
	padding: 10px;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 10px;
    position: absolute;
}

#nav li {
	float: left;
}

#nav a:link {
	display: block;
    width: 80px;
    height: 18px;
    background-color: #9fcc14;
    text-align: center;
    padding: 3px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-left: 3px solid #89b209;
    border-bottom: 3px solid #89b209;
    border-radius: 6px;
    margin-right: 3px;
}

#nav a:hover {
	background-color: #a2d959;
	text-decoration: underline;
	color: #000;
	border-left: 3px solid #89b209;
	border-bottom: 3px solid #89b209;
}

#nav a:visited {
	color: #000;
	border-left: 3px solid #89b209;
	border-bottom: 3px solid #89b209;
}

#nav a:active {
	background-color: #89b209;
	color: #000;
	border-left: 3px solid #89b209;
	border-bottom: 3px solid #89b209;
}

#nav #subnav {
	top: 40px;
}

#main {
	clear: both;
	position: absolute;
	top: 70px;
	padding: 10px;
}

#flash_message {
	background-color: #FFA3A3;
	color: #C70000;
	border-color: #C70000;
	border-style: solid;
	border-width: 2px;
	
	display: block;
	width: 500px;
	height: 20px;
	padding: 10px;
	margin: 10px;
	
	text-align: center;
}

.list {
	border-collapse: collapse;
}

.list td, th{
	padding: 5px;
}

.list tr {
	background-color: #ccc;
	border-bottom: 1px solid #fff;
}
tr.listheader {
	background-color: #aaa;
}


.icon_add {
	background: url('/static/img/icons/plus.png') no-repeat 5px 3px transparent;
}
.icon_delete {
	background: url('/static/img/icons/minus.png') no-repeat 5px 3px transparent;	
}
.icon_edit {
	background: url('/static/img/icons/edit.png') no-repeat 5px 3px transparent;
}

.icon_list {
	background: url('/static/img/icons/list.png') no-repeat 5px 3px transparent;
}