html {
  background-color: #a0a0a0;
}

body {
	margin: 0;
}

#container {
	font-family: sans-serif;
	width: 70%;
	margin: 0 auto;  
	font-family: Helvetica, Arial, sans-serif;
	background: white;
	box-shadow: 0px 0px 20px 0px black;
	min-height: 100%;
}

#nav {
	background: linear-gradient(to bottom, #006600 20%, #008800 80%);
	position: fixed;
	width: 70%;
}

h1.header {
	color: white;
	font-size: 50px;
	font-style: italic;
	position: absolute;
	margin-top: 6px;
	margin-left: 20px;
}

#main {
	padding: 90px 40px 50px;
}

footer {
	font-size: 12px;
    background: linear-gradient(to bottom, #006600 20%, #008800 80%);
    bottom: 0;
    position: fixed;
    width: 70%;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 5px 0px;
}



/*
	######### Flash Messages #########
*/
#flash_container {
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -250px;
}

.flash_message {
	border-style: solid;
	border-width: 2px;
	
	display: block;
	width: 500px;
	height: 20px;
	padding: 10px;
	margin: 10px;
	
	box-shadow: 5px 5px 25px -5px black;

	text-align: center;
}

.flash_message.info {
	color: #1BCF3F;
	border-color: #1BCF3F;
	background: #B6FAC4 url('/static/img/icons/tick.png') no-repeat 10px 10px;
}

.flash_message.warn {
	color: #BAAB07;
	border-color: #E3D107;
	background: #FCF6B1 url('/static/img/icons/warning.png') no-repeat 10px 10px;
}

.flash_message.error {
	color: #C70000;
	border-color: #C70000;
	background: #FFA3A3 url('/static/img/icons/error.png') no-repeat 10px 10px;
}

.flash_message.ng-enter {
	transition:0.5s linear all;
	opacity:0;
}

.flash_message.ng-enter.ng-enter-active {
	opacity:1;	
}

.flash_message.ng-leave {
	transition:0.5s linear all;
	opacity:1;
}

.flash_message.ng-leave.ng-leave-active {
	opacity:0;
}


/*
	######### Log Entries #########
*/
.log_entry {
	border-style: solid;
	border-width: 2px;
	
	display: block;
	width: 500px;
	height: 20px;
	padding: 10px 10px 10px 30px;
	margin: 10px;
}

.log_ack {
	float: right;
	cursor: pointer;
}

/* Level DEBUG */
.log_entry.lvl0 {
	background: #ffffff url('/static/img/icons/debug.png') no-repeat 10px 10px;
}

/* Level INFO */
.log_entry.lvl50 {
	color: #1BCF3F;
	border-color: #1BCF3F;
	background: #B6FAC4 url('/static/img/icons/tick.png') no-repeat 10px 10px;
}

/* Level WARN */
.log_entry.lvl75 {
	color: #BAAB07;
	border-color: #E3D107;
	background: #FCF6B1 url('/static/img/icons/warning.png') no-repeat 10px 10px;
}

/* Level ERR */
.log_entry.lvl100 {
	color: #C70000;
	border-color: #C70000;
	background: #FFA3A3 url('/static/img/icons/error.png') no-repeat 10px 10px;
}

.log_entry.ng-enter {
	transition:0.5s linear all;
	opacity:0;
}

.log_entry.ng-enter.ng-enter-active {
	opacity:1;	
}

.log_entry.ng-leave {
	transition:0.5s linear all;
	opacity:1;
}

.log_entry.ng-leave.ng-leave-active {
	opacity:0;
}


/*
	######### Data Table #########
*/
.list {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 5px;
}

.list td, th{
	padding: 5px;
	border: 1px solid transparent;
	height: 30px;
	transition: all 0.3s;
	text-align: center;
	/*border-left: 2px solid black;*/
}

.list th {
	background: #bbb;
	font-weight: bold;
	height: 35px;
}

.list tr:nth-child(odd) td { background: #DFDFDF; }
.list tr:nth-child(even) td { background: #F1F1F1; }


/*
	######### Icons #########
*/
.icon_add {
	background: url('/static/img/icons/plus.png') no-repeat 13px 3px transparent;
}
.icon_delete {
	background: url('/static/img/icons/minus.png') no-repeat 13px 3px transparent;	
}
.icon_edit {
	background: url('/static/img/icons/edit.png') no-repeat 13px 3px transparent;
}

.icon_list {
	background: url('/static/img/icons/list.png') no-repeat 13px 3px transparent;
}



/*
	######### Tab Interface #########
*/
.tabrow {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 24px;
	position: relative;
}

.tabrow:after {
	position: absolute;
	content: "";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #e0e0e0; /*Bottom line   */
	z-index: 1;
}

.tabrow:before {
	z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
	position: absolute;
	bottom: 1px;
	width: 6px;
	height: 6px;
	content: "";
}

.tabrow li:before {
	left: -6px;
	border-bottom-right-radius: 6px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #e0e0e0;
}
.tabrow li:after {
	right: -6px;
	border-bottom-left-radius: 6px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #e0e0e0;
}
.tabrow li.selected:before {
	box-shadow: 2px 2px 0 #ffffff;
}
.tabrow li.selected:after {
	box-shadow: -2px 2px 0 #ffffff;
}

/*.tabrow li:after, .tabrow li:before {
  border: 1px solid #000000
  }*/

.tabrow li {
	margin: 60 0 0 0px;
	padding: 3 11px;
	border: 1px solid #AAA;
	background: #e0e0e0;
	/*background: linear-gradient(to bottom, #e0e0e0 80%, #606060 100%);*/
	/*  text-shadow: 0 1px #22; /* dunkelgrauer schatten beim text */
	display: inline-block;
	position: relative;
	z-index: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.tabrow li.selected {
	background: #ffffff;
	color: #000000;
	z-index: 2;
	border-bottom-color: #FFF;
}

.tabrow li a {
	color: #505050;
	text-decoration: none;
	font-size: 16;
	font-weight: bold;
}