html {
	background-color: #a0a0a0;
	/* 70px header + 25px footer + 40px padding content */
	height: calc(100% - 135px); 
	height: -moz-calc(100% - 135px);
	height: -o-calc(100% - 135px);
	height: -webkit-calc(100% - 135px);
}

body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: 100%;
}


#nav {
	background: linear-gradient(to bottom, #006600 20%, #008800 80%);
	position: fixed;
	width: 100%;
	top: 0px;
	height: 70px;
	z-index: 950;
}

#main {
	padding: 20px 40px;
	margin: 70px auto 25px auto;
	width: 70%;
	
	background: white;
	box-shadow: 0px 0px 20px 0px black;
	min-height: 100%;
	
	overflow-x: auto;
}


footer {
	font-size: 12px;
    background: linear-gradient(to bottom, #006600 20%, #008800 80%);
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 5px 0px;
    height: 15px;
}

h1.header {
	color: white;
	font-size: 50px;
	font-style: italic;
	position: absolute;
	margin: 6px 20px;
}


#traceback {
	color: red;
}


.pointer {
	cursor: pointer;
}


.ack_table {
	width: 50%;
	vertical-align: top;
}

.fixed_pos {
	position: fixed !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#log_div {
	float: right;
	width: 50%;
}

#alarm_div {
	float: left;
	width: 50%;
}
span.clear {
	clear: both;
	display: block;
}

h1 {
	margin-top: 10px;
}


.hidden {
	display: none;
}

.mobile_only {
	display: none;
}

/*
	######### Edit Form #########
*/

.edit_form {
	padding: 10px;	
}

.edit_form h3 {
	text-align: center;
	margin: 5px;
	margin-bottom: 10px;
}

.edit_form .modal_buttons {
	text-align: center;
	padding: 5px;
}

.edit_form td {
	padding: 2px;
}

/*
	######### Flash Messages #########
*/
#flash_container {
	position: fixed;
	bottom: 0%;
	right: 0%;
	z-index: 1000;
}

.flash_message {
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	
	position: relative;
	display: block;
	width: 300px;
	padding: 10px 10px 10px 30px;
	margin: 10px;
	
	box-shadow: 5px 5px 25px -5px black;
}

.flash_message .pin {
	background: url('/static/img/icons/pin.png') no-repeat;
	float: right;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.flash_message .pin_straight {
	background: url('/static/img/icons/pin-straight.png') no-repeat;
	float: right;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.flash_message.info {
	color: #1BCF3F;
	border-color: #1BCF3F;
	background: #B6FAC4 url('/static/img/icons/tick.png') no-repeat 10px 10px;
}

.flash_message.warn {
	color: #BAAB07;
	border-color: #E3D107;
	background: #FCF6B1 url('/static/img/icons/warning.png') no-repeat 10px 10px;
}

.flash_message.error {
	color: #C70000;
	border-color: #C70000;
	background: #FFA3A3 url('/static/img/icons/error.png') no-repeat 10px 10px;
}

.flash_message.ng-enter {
	animation-name: flash_anim_in;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	
	transition:0.2s linear all;
	opacity:0;
}

.flash_message.ng-enter.ng-enter-active {
	opacity:1;
}

.flash_message.ng-leave {
	animation-name: flash_anim_out;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	
	transition:0.2s linear all;
	opacity:1;
}

.flash_message.ng-leave.ng-leave-active {
	opacity:0;
}

@keyframes flash_anim_in {
	from {right: -400px}
	to {right: 0px}
}

@keyframes flash_anim_out {
	from {right: 0px}
	to {right: -400px}
}

/*
	######### Alarms #########
*/
.alarm_entry {
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	
	display: block;
	padding: 10px 10px 10px 30px;
	margin: 10px;
	
	color: #C70000;
	border-color: #C70000;
	background: #FFA3A3 url('/static/img/icons/error.png') no-repeat 10px 10px;
}

.alarm_ack {
	float: right;
	cursor: pointer;
}


/*
	######### Log Entries #########
*/
.log_entry {
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	
	display: block;
	padding: 10px 10px 10px 30px;
	margin: 10px;
}

.log_ack {
	float: right;
	cursor: pointer;
}

/* Level DEBUG */
.log_entry.lvl0 {
	background: #ffffff url('/static/img/icons/debug.png') no-repeat 10px 10px;
}

/* Level INFO */
.log_entry.lvl50 {
	color: #1BCF3F;
	border-color: #1BCF3F;
	background: #B6FAC4 url('/static/img/icons/tick.png') no-repeat 10px 10px;
}

/* Level WARN */
.log_entry.lvl75 {
	color: #BAAB07;
	border-color: #E3D107;
	background: #FCF6B1 url('/static/img/icons/warning.png') no-repeat 10px 10px;
}

/* Level ERR */
.log_entry.lvl100 {
	color: #C70000;
	border-color: #C70000;
	background: #FFA3A3 url('/static/img/icons/error.png') no-repeat 10px 10px;
}

.log_entry.ng-enter {
	transition:0.5s linear all;
	opacity:0;
}

.log_entry.ng-enter.ng-enter-active {
	opacity:1;	
}

.log_entry.ng-leave {
	transition:0.5s linear all;
	opacity:1;
}

.log_entry.ng-leave.ng-leave-active {
	opacity:0;
}

/*
	######### Alarm Data Table #########
*/
#alarmdata .data_click {
	cursor: pointer;
}
#alarmdata .data_click:hover {
	text-decoration: underline;
}

#img_container {
	position: fixed;
	z-index: 10000;
	
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
	height: 80%;
	width: 80%;
}

#file_img {
	border-color: #888;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	
	box-shadow: 0px 0px 40px 0px black;
	
	max-height: 100%;
	max-width: 100%;
}



/*
	######### Icons #########
*/
.icon_add {
	background: url('/static/img/icons/plus.png') no-repeat 13px 3px transparent;
}
.icon_delete {
	background: url('/static/img/icons/minus.png') no-repeat 13px 3px transparent;	
}
.icon_edit {
	background: url('/static/img/icons/edit.png') no-repeat 13px 3px transparent;
}
.icon_copy {
	background: url('/static/img/icons/copy.png') no-repeat 13px 3px transparent;
}

.icon_list {
	background: url('/static/img/icons/list.png') no-repeat 13px 3px transparent;
}

.loading {
	position: fixed;
	z-index: 10000;
	
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
	height: 30px;
	width: 30px;
	
	background-color: #fff;
	background-image: url('/static/img/icons/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #aaa;
	border-radius: 3px;
}



/*
	######### Tab Interface #########
*/

#navbutton {
	float: right;
	width: 21px;
	height: 21px;
	margin: 18px 18px 19px 0px;
	background-color: transparent;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
	display: block;
	z-index: 105;
	padding: 5px 5px;
	display: none;
}

#navbutton:active {
	background-color: #aaa;
}

.icon-bar {
    display: block;
    width: 19px;
    height: 1px;
    border-radius: 1px;
    border: 1px solid #fff;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: #fff;
}

.nav-state1 {
	display: block;
}

.nav-state2 {
	display: none;
}

.tabrow {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 24px;
	position: relative;
}



.tabrow li {
	text-align: center;
	
	margin: 38px 0px 0px 0px;
	padding: 3px 11px;
	border: 1px solid #AAA;
	background: #e0e0e0;
	
	display: inline-block;
	position: relative;
	z-index: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}


.tabrow li.selected {
	background: #ffffff;
	color: #000000;
	z-index: 2;
	border-bottom-color: #FFF;
}

.tabrow li.selected:hover {
	background-color: #ccc;
	border-bottom: 1px solid #ccc;
}

.tabrow li:hover {
	background-color: #ccc;
}

.tabrow li a {
	color: #505050;
	text-decoration: none;
	font-size: 16;
	font-weight: bold;
	display: block;
}