html {
	background-color: #fff;
}


#main {
	width: 100%;
	padding: 15px;
	margin: 70px 0px 25px 0px;
	box-shadow: none;
}


#log_div {
	float: none;
	width: 100%;
}

#alarm_div {
	float: none;
	width: 100%;
}


.edit_form input[type="text"] {
	width: 100%;
}

.mobile_only {
	display: block;
}


/*
	######### Flash Messages #########
*/

#flash_container {
	right: auto;
	width: 100%;
}

.flash_message {
	width: auto;
}

@keyframes flash_anim_in {
	from {botom: -50px}
	to {bottom: 0px}
}

@keyframes flash_anim_out {
	from {bottom: 0px}
	to {bottom: -50px}
}


/*
	######### Tab Interface #########
*/
.tabrow {
	clear: both;
	text-align: center;
	list-style: none;
	margin: auto;
	margin-top: 70px;
	padding: 0;
	line-height: 24px;
	position: static;
	width: 100%;
	display: block;
	overflow: hidden;
}

.nav-state1 {
	animation-name: nav_anim_out;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.nav-state2 {
	animation-name: nav_anim_in;
	animation-duration: 0.4s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes nav_anim_in {
	from {
		height: 0px;
		opacity: 0;
		}
	to {
		height: 500px;
		opacity: 1;
	}
}

@keyframes nav_anim_out {
	from {
		height: 500px;
		opacity: 1;
		}
	to {
		height: 0px;
		opacity: 0;
	}
}

#navbutton {
	display: block;
}

.tabrow li {
	margin: 0px 0px 0px 0px;
	border: 0px solid #AAA;
	border-bottom: 2px solid #aaa;
	
	display: list-item;
	position: static;
	z-index: 0;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.tabrow li.selected {
	border-bottom: 2px solid #aaa;
}


.tabrow li.selected:hover {
	background-color: #ccc;
	border-bottom: 2px solid #aaa;
}
