
#main {
	width: 100%;
	padding: 15px;
	margin: 70px 0px 25px 0px;
}


#log_div {
	float: none;
	width: 100%;
}

#alarm_div {
	float: none;
	width: 100%;
}


input[type=button], select {
	font-size: 1em;
	color: white;
	
	width: 100%;
	padding: 5px;
	margin: 5px auto;
	
	background: linear-gradient(to bottom, #008800 20%, #006600 80%);
	
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	
}

input[type=button]:active, select:active {
	background: linear-gradient(to bottom, #006600 20%, #008800 80%);
}

input[type=button]:hover, select:hover {
	border-color: #f93;
}


/*
	######### Flash Messages #########
*/

.flash_message {
	width: auto;
}


/*
	######### Tab Interface #########
*/
.tabrow {
	visibility: hidden;
	display: none;
}


