
#main {
	width: 100%;
	padding: 15px;
	margin: 70px 0px 25px 0px;
}


#log_div {
	float: none;
	width: 100%;
}

#alarm_div {
	float: none;
	width: 100%;
}




/*
	######### Flash Messages #########
*/

#flash_container {
	right: auto;
	width: 100%;
}

.flash_message {
	width: auto;
}

@keyframes flash_anim_in {
	from {botom: -50px}
	to {bottom: 0px}
}

@keyframes flash_anim_out {
	from {bottom: 0px}
	to {bottom: -50px}
}


/*
	######### Tab Interface #########
*/
.tabrow {
	visibility: hidden;
	display: none;
}


