<div id="folder_content" class="edit_form" ng-show="dataModCtrl.dataCtrl.cur_folder">
	<h3>{{dataModCtrl.dataCtrl.cur_folder.name}}</h3>
	<p ng-repeat="fi in dataModCtrl.dataCtrl.files">
		<a href="/alarmdata/download?name={{dataModCtrl.dataCtrl.cur_folder.name}}/{{fi}}">{{fi}}</a>
		
		<span ng-switch on="fi.slice(fi.lastIndexOf('.')+1)">
			<span ng-switch-when="zip">
				<img src="/static/img/icons/zipfile.png" class="pointer" ng-click="dataModCtrl.dataCtrl.extractFile(dataModCtrl.dataCtrl.cur_folder.name, fi)" title="Extract ZIP File" alt="Extract ZIP File" />
			</span>
			<span ng-switch-when="jpg">
				<img src="/static/img/icons/image.png" class="pointer" ng-click="dataModCtrl.dataCtrl.showImg(dataModCtrl.dataCtrl.cur_folder.name, fi, 'jpg')" title="Show Image" alt="Show Image" />
			</span>
			<span ng-switch-when="png">
				<img src="/static/img/icons/image.png" class="pointer" ng-click="dataModCtrl.dataCtrl.showImg(dataModCtrl.dataCtrl.cur_folder.name, fi, 'png')" title="Show Image" alt="Show Image" />
			</span>
			<span ng-switch-when="gif">
				<img src="/static/img/icons/image.png" class="pointer" ng-click="dataModCtrl.dataCtrl.showImg(dataModCtrl.dataCtrl.cur_folder.name, fi, 'gif')" title="Show Image" alt="Show Image" />
			</span>
		</span>
	</p>
	<div class="modal_buttons">
		<input type="button" class="btn btn-success" ng-click="dataModCtrl.dataCtrl.hideFolder()" value="Cancel" /> 
	</div>
</div>