[
  {rabbit, [
     {ssl_handshake_timeout, 10000},
     {ssl_listeners, [<port>]},
     {ssl_options, [{cacertfile,"/opt/secpi/certs/ca/cacert.pem"},
                    {certfile,"<certfile>"},
                    {keyfile,"<keyfile>"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,false}]}
   ]}               
].